## docker config, generated on "./project.sh start"

docker-compose.yml

## yarn berry stuff

.pnp.cjs
.yarn/berry/
.yarn/install-state.gz
.yarn/unplugged/
yarn.lock

## yarn classic stuff

.cache/
.yarnrc
node_modules/

