## build dir

humble-bundle-nice-downloader

## docker config, generated on "./project.sh start"

docker-compose.yml

## yarn berry stuff

.pnp.cjs
.yarn/berry/
.yarn/install-state.gz
.yarn/sdks/
.yarn/unplugged/
.vim/
yarn.lock

## yarn classic stuff

.cache/
.config/
.yarn/
.yarnrc
node_modules/

